<div id="<%= dom_id patent_test %>">
  <table class="table">
    <thead class="table-dark">
    <th>Patient</th>
    <th>Test</th>
    <th>Rate</th>
    </thead>
    <tbody>
    <td><%= patent_test.patient_id.name %></td>
    <td><%= patent_test.test_id %></td>
    <td><%= patent_test.rate %></td>
    </tbody>
  </table>

</div>
