<h1>Editing test perameter</h1>

<%= render "form", test_perameter: @test_perameter %>

<br>

<div>
  <%= link_to "Show this test perameter", @test_perameter %> |
  <%= link_to "Back to test perameters", test_perameters_path %>
</div>
