<div id="<%= dom_id patient_report %>">
  <p>
    <strong>Case:</strong>
    <%= patient_report.case_id %>
  </p>

  <p>
    <strong>Perameter:</strong>
    <%= patient_report.perameter_id %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= patient_report.result %>
  </p>

</div>
