<h1>Editing patient report</h1>

<%= render "form", patient_report: @patient_report %>

<br>

<div>
  <%= link_to "Show this patient report", @patient_report %> |
  <%= link_to "Back to patient reports", patient_reports_path %>
</div>
