<h1>Editing patient case</h1>

<%= render "form", patient_case: @patient_case %>

<br>

<div>
  <%= link_to "Show this patient case", @patient_case %> |
  <%= link_to "Back to patient cases", patient_cases_path %>
</div>
